{
  "openapi": "3.1.0",
  "info": {
    "title": "Search1API",
    "description": "Web search, news, crawling, screenshot, and content extraction APIs for AI agents. Supports pay-per-request via MPP and x402 protocols.",
    "version": "1.0.0",
    "x-guidance": "Search1API provides web search, news aggregation, URL crawling, webpage screenshots, sitemap extraction, trending topics, content extraction, and deep crawling. All paid endpoints accept POST with a JSON body. Use POST /search with a \"query\" field for web search. Use POST /news with a \"query\" field for news. Use POST /ask with a natural-language \"query\" to have Search1API choose the engines and time window and return only relevant results (API key only). Use POST /crawl with a \"url\" field to crawl a page. Use POST /screenshot with a \"url\" field to render a PNG, JPEG, or WebP image. Use POST /sitemap with a \"url\" field to extract sitemap URLs. Use POST /trending with a \"search_service\" field for trends. Use POST /extract with a \"url\" field for structured content extraction. Use POST /deepcrawl with a \"url\" field for deep multi-page crawling."
  },
  "x-discovery": {
    "ownershipProofs": []
  },
  "servers": [
    {
      "url": "https://api.search1api.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    },
    "schemas": {
      "ApiError": {
        "type": "object",
        "description": "Search1API error. Every JSON error carries `ok: false`, `error` (a short status-derived label) and `message` (human-readable detail); validation failures add `errors`. Payment challenges may use RFC 9457 problem detail fields.",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                }
              }
            }
          },
          "type": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "SearchParameters": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1
          },
          "search_service": {
            "type": "string",
            "enum": [
              "google",
              "bing",
              "bingcn",
              "duckduckgo",
              "yahoo",
              "yandex",
              "youtube",
              "x",
              "reddit",
              "github",
              "arxiv",
              "wechat",
              "bilibili",
              "imdb",
              "wikipedia",
              "grokipedia",
              "",
              "baidu",
              "360",
              "quark"
            ]
          },
          "max_results": {
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "default": 5
          },
          "page": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 1
          },
          "crawl_results": {
            "type": "integer",
            "minimum": 0,
            "maximum": 50,
            "default": 0
          },
          "image": {
            "type": "boolean",
            "default": false
          },
          "include_sites": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "exclude_sites": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "language": {
            "type": "string"
          },
          "time_range": {
            "type": "string",
            "enum": [
              "day",
              "week",
              "month",
              "year",
              ""
            ]
          }
        },
        "required": [
          "query"
        ],
        "additionalProperties": false
      },
      "NewsParameters": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1
          },
          "search_service": {
            "type": "string",
            "enum": [
              "google",
              "bing",
              "duckduckgo",
              "yahoo",
              "hackernews",
              "",
              "reuters"
            ]
          },
          "max_results": {
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "default": 5
          },
          "crawl_results": {
            "type": "integer",
            "minimum": 0,
            "maximum": 50,
            "default": 0
          },
          "image": {
            "type": "boolean",
            "default": false
          },
          "include_sites": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "exclude_sites": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "language": {
            "type": "string"
          },
          "time_range": {
            "type": "string",
            "enum": [
              "day",
              "week",
              "month",
              "year",
              ""
            ]
          }
        },
        "required": [
          "query"
        ],
        "additionalProperties": false
      },
      "CrawlRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "minLength": 1
          },
          "enableFallback": {
            "type": "boolean",
            "default": true
          }
        },
        "required": [
          "url"
        ],
        "additionalProperties": false
      },
      "SitemapRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "type": {
            "type": "string",
            "enum": [
              "sitemap",
              "all"
            ]
          }
        },
        "required": [
          "url"
        ],
        "additionalProperties": false
      },
      "TrendingRequest": {
        "type": "object",
        "properties": {
          "search_service": {
            "type": "string",
            "minLength": 1
          },
          "max_results": {
            "type": "integer",
            "minimum": 1
          }
        },
        "required": [
          "search_service"
        ],
        "additionalProperties": false
      },
      "ExtractRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "prompt": {
            "type": "string"
          },
          "response_format": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "url"
        ],
        "additionalProperties": false
      },
      "DeepcrawlRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "type": {
            "type": "string",
            "enum": [
              "sitemap",
              "all"
            ]
          }
        },
        "required": [
          "url"
        ],
        "additionalProperties": false
      },
      "SearchResult": {
        "type": "object",
        "required": [
          "title",
          "link",
          "snippet"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "snippet": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "published_date": {
            "type": "string",
            "description": "When the page was published, as ISO 8601: `YYYY-MM-DD` when only the day is known (web search engines), or `YYYY-MM-DDTHH:MM:SSZ` in UTC when the source carries a time (x, reddit, github, arxiv, youtube, bilibili, wechat, news feeds). Omitted when the source exposes no date, so treat it as optional per result.",
            "example": "2026-09-03"
          },
          "kind": {
            "type": "string",
            "enum": [
              "repo",
              "issue",
              "pr",
              "discussion"
            ],
            "description": "What a `github` result is: a repository, an issue, a pull request, or a discussion. Only present for `search_service: \"github\"`."
          },
          "stars": {
            "type": "integer",
            "description": "Stargazer count of a `github` repository result (`kind: \"repo\"`)."
          },
          "language": {
            "type": "string",
            "description": "Primary language of a `github` repository result (`kind: \"repo\"`). Omitted when GitHub reports none."
          },
          "num_comments": {
            "type": "integer",
            "description": "Comment count on a `github` issue, pull request or discussion, or on a `hackernews` thread (POST /news)."
          },
          "story_url": {
            "type": "string",
            "format": "uri",
            "description": "POST /news with `search_service: \"hackernews\"` only: the submitted article. `link` is the Hacker News discussion thread; `story_url` is empty for Ask HN / Show HN text posts."
          },
          "points": {
            "type": "integer",
            "description": "POST /news with `search_service: \"hackernews\"` only: upvotes on the thread."
          }
        },
        "additionalProperties": true
      },
      "SearchResponse": {
        "type": "object",
        "required": [
          "searchParameters",
          "results"
        ],
        "properties": {
          "searchParameters": {
            "$ref": "#/components/schemas/SearchParameters"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      },
      "SearchBatchResponse": {
        "type": "object",
        "required": [
          "results",
          "summary"
        ],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "success",
                "cost"
              ],
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "$ref": "#/components/schemas/SearchResponse"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  }
                },
                "cost": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "summary": {
            "type": "object",
            "required": [
              "total",
              "successful",
              "failed",
              "totalCost"
            ],
            "properties": {
              "total": {
                "type": "integer",
                "minimum": 0
              },
              "successful": {
                "type": "integer",
                "minimum": 0
              },
              "failed": {
                "type": "integer",
                "minimum": 0
              },
              "totalCost": {
                "type": "integer",
                "minimum": 0
              }
            }
          }
        }
      },
      "NewsResponse": {
        "type": "object",
        "required": [
          "searchParameters",
          "results"
        ],
        "properties": {
          "searchParameters": {
            "$ref": "#/components/schemas/NewsParameters"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      },
      "NewsBatchResponse": {
        "type": "object",
        "required": [
          "results",
          "summary"
        ],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "success",
                "cost"
              ],
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "$ref": "#/components/schemas/NewsResponse"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  }
                },
                "cost": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          },
          "summary": {
            "type": "object",
            "required": [
              "total",
              "successful",
              "failed",
              "totalCost"
            ],
            "properties": {
              "total": {
                "type": "integer",
                "minimum": 0
              },
              "successful": {
                "type": "integer",
                "minimum": 0
              },
              "failed": {
                "type": "integer",
                "minimum": 0
              },
              "totalCost": {
                "type": "integer",
                "minimum": 0
              }
            }
          }
        }
      },
      "AskResult": {
        "type": "object",
        "required": [
          "title",
          "link",
          "snippet",
          "source",
          "relevance"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "snippet": {
            "type": "string"
          },
          "published_date": {
            "type": "string",
            "description": "When the page was published, as ISO 8601 (`YYYY-MM-DD` or `YYYY-MM-DDTHH:MM:SSZ`). Omitted when the engine exposes no date.",
            "example": "2026-09-03"
          },
          "source": {
            "type": "string",
            "description": "Engine that returned the result."
          },
          "relevance": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "How likely the result is to be about the query, two decimals. Only results scoring at least 0.5 are returned."
          }
        }
      },
      "AskResponse": {
        "type": "object",
        "required": [
          "query",
          "intent",
          "results",
          "errors"
        ],
        "properties": {
          "query": {
            "type": "string",
            "description": "The query as sent."
          },
          "intent": {
            "type": "object",
            "required": [
              "search_query",
              "sources",
              "time_range"
            ],
            "description": "How the request was interpreted and searched.",
            "properties": {
              "search_query": {
                "type": "string",
                "description": "Keywords sent to the engines, with platform and time phrases removed."
              },
              "sources": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Engines searched."
              },
              "time_range": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "day",
                  "week",
                  "month",
                  "year",
                  null
                ],
                "description": "Publication window applied, or null for none."
              }
            }
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AskResult"
            },
            "description": "Relevant results from every engine, best first, with duplicates merged. May be empty."
          },
          "errors": {
            "type": "array",
            "description": "Engines that failed while others completed. The request is still charged.",
            "items": {
              "type": "object",
              "required": [
                "source",
                "message"
              ],
              "properties": {
                "source": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CrawlResult": {
        "type": "object",
        "required": [
          "title",
          "link",
          "content"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "content": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "CrawlResponse": {
        "type": "object",
        "required": [
          "crawlParameters",
          "results"
        ],
        "properties": {
          "crawlParameters": {
            "type": "object",
            "required": [
              "url"
            ],
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "results": {
            "$ref": "#/components/schemas/CrawlResult"
          }
        }
      },
      "SitemapResponse": {
        "type": "object",
        "required": [
          "links"
        ],
        "properties": {
          "links": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      },
      "TrendingResult": {
        "type": "object",
        "required": [
          "title",
          "url"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "TrendingResponse": {
        "type": "object",
        "required": [
          "trendingParameters",
          "results"
        ],
        "properties": {
          "trendingParameters": {
            "$ref": "#/components/schemas/TrendingRequest"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TrendingResult"
            }
          }
        }
      },
      "ExtractResponse": {
        "type": "object",
        "required": [
          "success",
          "extractParameters",
          "results"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "extractParameters": {
            "type": "object",
            "required": [
              "url"
            ],
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "results": {}
        }
      },
      "DeepcrawlAcceptedResponse": {
        "type": "object",
        "required": [
          "taskId",
          "status"
        ],
        "properties": {
          "taskId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued"
            ]
          }
        }
      },
      "DeepcrawlStatusResponse": {
        "type": "object",
        "required": [
          "taskId"
        ],
        "properties": {
          "taskId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "waiting",
              "processing",
              "completed",
              "failed",
              "not_found"
            ]
          },
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          },
          "r2Key": {
            "type": "string"
          },
          "zipUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          }
        },
        "additionalProperties": true
      },
      "HealthResponse": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "UsageResponse": {
        "type": "object",
        "required": [
          "usage",
          "credential_type"
        ],
        "properties": {
          "usage": {
            "type": "integer",
            "minimum": 0
          },
          "user_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "credential_type": {
            "type": "string",
            "enum": [
              "api_key",
              "oauth"
            ]
          },
          "client_id": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "FeedbackResponse": {
        "type": "object",
        "required": [
          "id",
          "status"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^fb_[a-zA-Z0-9_-]+$",
            "maxLength": 80
          },
          "status": {
            "type": "string",
            "enum": [
              "new"
            ]
          }
        },
        "additionalProperties": false
      }
    }
  },
  "paths": {
    "/feedback": {
      "post": {
        "operationId": "feedback",
        "summary": "Report a Search1API problem or feature request",
        "description": "Report a Search1API problem, missing capability, or confusing documentation encountered during a task. Only message is required. Optional request_id refers to the original problem request. Do not include credentials, personal data, or private user content. Reports are stored in Agentback and linked to an opaque account reference. Do not report every empty result or retry the same report automatically; feedback should not block the main task. Returns 201 only after storage succeeds. Maximum JSON body size: 16 KiB. Limited to 10 submissions per account per minute at a Cloudflare location. Free to call.",
        "tags": [
          "Feedback"
        ],
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedbackResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4000
                  },
                  "intent": {
                    "type": "string",
                    "maxLength": 2000
                  },
                  "category": {
                    "type": "string",
                    "enum": [
                      "bug",
                      "feature_request",
                      "docs",
                      "other"
                    ],
                    "default": "other"
                  },
                  "request_id": {
                    "type": "string",
                    "maxLength": 256
                  },
                  "agent": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "maxLength": 128
                      },
                      "model": {
                        "type": "string",
                        "maxLength": 128
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "required": [
                  "message"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/screenshot": {
      "post": {
        "operationId": "screenshot",
        "summary": "Render a web page as a PNG, JPEG, or WebP image",
        "description": "Render a public webpage as a PNG, JPEG, or WebP image. Use it when appearance is the point — layout checks, visual previews, or content that does not survive text extraction — and control the viewport, when the page counts as ready, and whether to capture the full document or a single element by CSS selector. When you want the page's text instead, call POST /crawl. Costs 2 credits per request.",
        "tags": [
          "Screenshot"
        ],
        "x-codeSamples": [
          {
            "id": "js",
            "lang": "ts",
            "label": "TypeScript SDK",
            "source": "import { writeFile } from 'node:fs/promises';\nimport { Search1API } from '@search1api/client';\n\nconst client = new Search1API();\nconst screenshot = await client.screenshot('https://example.com', {\n  format: 'png',\n  fullPage: true,\n});\n\nawait writeFile('screenshot.png', screenshot.data);"
          },
          {
            "id": "python",
            "lang": "python",
            "label": "Python SDK",
            "source": "from pathlib import Path\nfrom search1api import Search1API\n\nclient = Search1API()\nscreenshot = client.screenshot(\n    \"https://example.com\",\n    format=\"png\",\n    full_page=True,\n)\n\nPath(\"screenshot.png\").write_bytes(screenshot[\"data\"])"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-payment-info": {
          "protocols": [
            "mpp"
          ],
          "pricingMode": "fixed",
          "price": "0.006"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 4096
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "png",
                      "jpeg",
                      "webp"
                    ],
                    "default": "png"
                  },
                  "full_page": {
                    "type": "boolean",
                    "default": false
                  },
                  "viewport": {
                    "type": "object",
                    "properties": {
                      "width": {
                        "type": "integer",
                        "minimum": 320,
                        "maximum": 2560,
                        "default": 1440
                      },
                      "height": {
                        "type": "integer",
                        "minimum": 200,
                        "maximum": 1440,
                        "default": 900
                      },
                      "device_scale_factor": {
                        "type": "number",
                        "minimum": 1,
                        "maximum": 2,
                        "default": 1
                      }
                    },
                    "additionalProperties": false,
                    "default": {
                      "width": 1440,
                      "height": 900,
                      "device_scale_factor": 1
                    }
                  },
                  "wait_until": {
                    "type": "string",
                    "enum": [
                      "domcontentloaded",
                      "load",
                      "networkidle"
                    ],
                    "default": "load"
                  },
                  "wait_for_selector": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500
                  },
                  "selector": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500
                  },
                  "delay_ms": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 5000,
                    "default": 0
                  },
                  "timeout_ms": {
                    "type": "integer",
                    "minimum": 1000,
                    "maximum": 30000,
                    "default": 20000
                  },
                  "quality": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "omit_background": {
                    "type": "boolean",
                    "default": false
                  },
                  "color_scheme": {
                    "type": "string",
                    "enum": [
                      "light",
                      "dark"
                    ],
                    "default": "light"
                  },
                  "animations": {
                    "type": "string",
                    "enum": [
                      "disabled",
                      "allow"
                    ],
                    "default": "disabled"
                  }
                },
                "required": [
                  "url"
                ],
                "additionalProperties": false
              },
              "examples": {
                "fullPage": {
                  "summary": "Full-page PNG",
                  "description": "Capture the complete document after the load event and a short stabilization delay.",
                  "value": {
                    "url": "https://s1.dev",
                    "format": "png",
                    "full_page": true,
                    "wait_until": "load",
                    "delay_ms": 1000,
                    "timeout_ms": 30000
                  }
                },
                "element": {
                  "summary": "Page element as WebP",
                  "description": "Wait for one visible element and return only that element as a compressed WebP image.",
                  "value": {
                    "url": "https://example.com",
                    "format": "webp",
                    "selector": "h1",
                    "wait_for_selector": "h1",
                    "quality": 85
                  }
                },
                "darkViewport": {
                  "summary": "Dark-mode viewport",
                  "description": "Capture a high-density 1280 × 720 viewport with dark color-scheme emulation.",
                  "value": {
                    "url": "https://s1.dev",
                    "format": "jpeg",
                    "viewport": {
                      "width": 1280,
                      "height": 720,
                      "device_scale_factor": 2
                    },
                    "color_scheme": "dark",
                    "quality": 85
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "operationId": "search",
        "summary": "Search the web using multiple search engines",
        "description": "Search the live public web when the answer depends on current information, sources, or research a model's training data cannot cover. Returns ranked results with id, title, URL, snippet, and `published_date` (ISO 8601, when the engine exposes one) across 13+ engines, with optional images. Set `crawl_results` to pull the top N result pages in the same call — each crawled page is billed as an additional crawl — or pass a result URL to POST /crawl separately. Costs 1 credit per request.",
        "tags": [
          "Search"
        ],
        "x-codeSamples": [
          {
            "id": "js",
            "lang": "ts",
            "label": "TypeScript SDK",
            "source": "import { Search1API } from '@search1api/client';\n\nconst client = new Search1API();\nconst response = await client.search('latest AI agent frameworks', {\n  maxResults: 10,\n});\n\nconsole.log(response.results);"
          },
          {
            "id": "python",
            "lang": "python",
            "label": "Python SDK",
            "source": "from search1api import Search1API\n\nclient = Search1API()\nresponse = client.search(\n    \"latest AI agent frameworks\",\n    max_results=10,\n)\n\nprint(response[\"results\"])"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SearchResponse"
                    },
                    {
                      "$ref": "#/components/schemas/SearchBatchResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-payment-info": {
          "protocols": [
            "mpp"
          ],
          "pricingMode": "fixed",
          "price": "0.003"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "query": {
                        "type": "string",
                        "minLength": 1
                      },
                      "search_service": {
                        "type": "string",
                        "enum": [
                          "google",
                          "bing",
                          "bingcn",
                          "duckduckgo",
                          "yahoo",
                          "yandex",
                          "youtube",
                          "x",
                          "reddit",
                          "github",
                          "arxiv",
                          "wechat",
                          "bilibili",
                          "imdb",
                          "wikipedia",
                          "grokipedia",
                          "",
                          "baidu",
                          "360",
                          "quark"
                        ]
                      },
                      "max_results": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 50,
                        "default": 5
                      },
                      "page": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 100,
                        "default": 1
                      },
                      "crawl_results": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 50,
                        "default": 0
                      },
                      "image": {
                        "type": "boolean",
                        "default": false
                      },
                      "include_sites": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "default": []
                      },
                      "exclude_sites": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "default": []
                      },
                      "language": {
                        "type": "string"
                      },
                      "time_range": {
                        "type": "string",
                        "enum": [
                          "day",
                          "week",
                          "month",
                          "year",
                          ""
                        ]
                      }
                    },
                    "required": [
                      "query"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "query": {
                          "type": "string",
                          "minLength": 1
                        },
                        "search_service": {
                          "type": "string",
                          "enum": [
                            "google",
                            "bing",
                            "bingcn",
                            "duckduckgo",
                            "yahoo",
                            "yandex",
                            "youtube",
                            "x",
                            "reddit",
                            "github",
                            "arxiv",
                            "wechat",
                            "bilibili",
                            "imdb",
                            "wikipedia",
                            "grokipedia",
                            "",
                            "baidu",
                            "360",
                            "quark"
                          ]
                        },
                        "max_results": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 50,
                          "default": 5
                        },
                        "page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 100,
                          "default": 1
                        },
                        "crawl_results": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 50,
                          "default": 0
                        },
                        "image": {
                          "type": "boolean",
                          "default": false
                        },
                        "include_sites": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "default": []
                        },
                        "exclude_sites": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "default": []
                        },
                        "language": {
                          "type": "string"
                        },
                        "time_range": {
                          "type": "string",
                          "enum": [
                            "day",
                            "week",
                            "month",
                            "year",
                            ""
                          ]
                        }
                      },
                      "required": [
                        "query"
                      ],
                      "additionalProperties": false
                    },
                    "minItems": 1
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/news": {
      "post": {
        "operationId": "news",
        "summary": "Search news articles across multiple sources",
        "description": "Search recent news when the question is about events, announcements, or coverage rather than reference material. Returns articles from verified publishers with title, URL, snippet, `published_date` (ISO 8601, when known), and optional full page content, filterable by site, language, and time range. For questions that are not time-sensitive, prefer POST /search. Costs 1 credit per request.",
        "tags": [
          "Search"
        ],
        "x-codeSamples": [
          {
            "id": "js",
            "lang": "ts",
            "label": "TypeScript SDK",
            "source": "import { Search1API } from '@search1api/client';\n\nconst client = new Search1API();\nconst response = await client.news('latest AI industry news', {\n  maxResults: 10,\n});\n\nconsole.log(response.results);"
          },
          {
            "id": "python",
            "lang": "python",
            "label": "Python SDK",
            "source": "from search1api import Search1API\n\nclient = Search1API()\nresponse = client.news(\n    \"latest AI industry news\",\n    max_results=10,\n)\n\nprint(response[\"results\"])"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/NewsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/NewsBatchResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-payment-info": {
          "protocols": [
            "mpp"
          ],
          "pricingMode": "fixed",
          "price": "0.003"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "query": {
                        "type": "string",
                        "minLength": 1
                      },
                      "search_service": {
                        "type": "string",
                        "enum": [
                          "google",
                          "bing",
                          "duckduckgo",
                          "yahoo",
                          "hackernews",
                          "",
                          "reuters"
                        ]
                      },
                      "max_results": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 50,
                        "default": 5
                      },
                      "crawl_results": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 50,
                        "default": 0
                      },
                      "image": {
                        "type": "boolean",
                        "default": false
                      },
                      "include_sites": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "default": []
                      },
                      "exclude_sites": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "default": []
                      },
                      "language": {
                        "type": "string"
                      },
                      "time_range": {
                        "type": "string",
                        "enum": [
                          "day",
                          "week",
                          "month",
                          "year",
                          ""
                        ]
                      }
                    },
                    "required": [
                      "query"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "query": {
                          "type": "string",
                          "minLength": 1
                        },
                        "search_service": {
                          "type": "string",
                          "enum": [
                            "google",
                            "bing",
                            "duckduckgo",
                            "yahoo",
                            "hackernews",
                            "",
                            "reuters"
                          ]
                        },
                        "max_results": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 50,
                          "default": 5
                        },
                        "crawl_results": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 50,
                          "default": 0
                        },
                        "image": {
                          "type": "boolean",
                          "default": false
                        },
                        "include_sites": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "default": []
                        },
                        "exclude_sites": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "default": []
                        },
                        "language": {
                          "type": "string"
                        },
                        "time_range": {
                          "type": "string",
                          "enum": [
                            "day",
                            "week",
                            "month",
                            "year",
                            ""
                          ]
                        }
                      },
                      "required": [
                        "query"
                      ],
                      "additionalProperties": false
                    },
                    "minItems": 1
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/ask": {
      "post": {
        "operationId": "ask",
        "summary": "Search the engines a natural-language request calls for",
        "description": "Agentic search. Describe what you are looking for in plain language and let a decision model (currently TypeSafe Jev) decide where to look. It picks up to five engines (web search, Hacker News, Reddit, GitHub, X, arXiv, Wikipedia, IMDb, WeChat, YouTube), rewrites the request into search keywords, infers a publication window from phrases such as \"this week\", searches the engines in parallel, and returns only the results judged relevant, merged and ranked, so agents read fewer off-topic results. The request takes only `query`; engines, keywords, and the window are always chosen by the model, and the response reports them in `intent`. Use POST /search instead when you already know the engine and keywords and want its raw ranking. Costs 5 credits per request.",
        "tags": [
          "Search"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "description": "What you are looking for, in natural language. Platform hints (\"on Reddit\", \"papers\") and time hints (\"this week\") steer engine and time-range selection."
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              },
              "examples": {
                "community": {
                  "summary": "Let Search1API choose",
                  "description": "Engines and the time window are inferred from the wording: community discussion, within the past month.",
                  "value": {
                    "query": "What are developers saying about Bun 1.3 this month?"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crawl": {
      "post": {
        "operationId": "crawl",
        "summary": "Crawl a URL and extract its content",
        "description": "Fetch one public URL and return its readable title and body as clean text, with navigation, boilerplate, and scripts stripped. Use it on a URL the user supplied or one returned by POST /search. To ingest a whole site rather than a single page, use POST /deepcrawl. Send an array of request objects to crawl several URLs in one call: the response is an array containing only the URLs that succeeded, in no guaranteed order, so match items back to your input by `crawlParameters.url`; failed URLs are omitted and not charged. `enable_fallback` is accepted as a snake_case alias of `enableFallback`. Costs 1 credit per request.",
        "tags": [
          "Crawl"
        ],
        "x-codeSamples": [
          {
            "id": "js",
            "lang": "ts",
            "label": "TypeScript SDK",
            "source": "import { Search1API } from '@search1api/client';\n\nconst client = new Search1API();\nconst response = await client.crawl('https://example.com');\n\nconsole.log(response);"
          },
          {
            "id": "python",
            "lang": "python",
            "label": "Python SDK",
            "source": "from search1api import Search1API\n\nclient = Search1API()\nresponse = client.crawl(\"https://example.com\")\n\nprint(response)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CrawlResponse"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CrawlResponse"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-payment-info": {
          "protocols": [
            "mpp"
          ],
          "pricingMode": "fixed",
          "price": "0.003"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "minLength": 1
                      },
                      "enableFallback": {
                        "type": "boolean",
                        "default": true
                      }
                    },
                    "required": [
                      "url"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "minLength": 1
                        },
                        "enableFallback": {
                          "type": "boolean",
                          "default": true
                        }
                      },
                      "required": [
                        "url"
                      ],
                      "additionalProperties": false
                    },
                    "minItems": 1
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/sitemap": {
      "post": {
        "operationId": "sitemap",
        "summary": "Extract sitemap URLs from a website",
        "description": "Discover the public URLs of a site when you need to know which pages exist before fetching any of them — scoping a crawl, auditing coverage, or locating a section. With the default `type: \"sitemap\"` this reads the site's own sitemap: `Sitemap:` directives in robots.txt first, then the conventional paths, following sitemap index files and gzipped sitemaps, and returns the URLs it declares for the requested host. A site that publishes no sitemap falls back to the links found on the given page. Use `type: \"all\"` to skip the sitemap and get every link on that one page instead, including links to other hosts. Neither mode fetches page content. Costs 1 credit per request.",
        "tags": [
          "Crawl"
        ],
        "x-codeSamples": [
          {
            "id": "js",
            "lang": "ts",
            "label": "TypeScript SDK",
            "source": "import { Search1API } from '@search1api/client';\n\nconst client = new Search1API();\nconst response = await client.sitemap('https://example.com');\n\nconsole.log(response);"
          },
          {
            "id": "python",
            "lang": "python",
            "label": "Python SDK",
            "source": "from search1api import Search1API\n\nclient = Search1API()\nresponse = client.sitemap(\"https://example.com\")\n\nprint(response)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SitemapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-payment-info": {
          "protocols": [
            "mpp"
          ],
          "pricingMode": "fixed",
          "price": "0.003"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "sitemap",
                      "all"
                    ]
                  }
                },
                "required": [
                  "url"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/trending": {
      "post": {
        "operationId": "trending",
        "summary": "Get trending topics from various platforms",
        "description": "List what is currently popular on a supported platform, such as GitHub repositories or Hacker News stories, when the user asks what is trending or new right now. This reads a platform's own live ranking rather than performing a query — for topic searches use POST /search. Costs 1 credit per request.",
        "tags": [
          "Search"
        ],
        "x-codeSamples": [
          {
            "id": "js",
            "lang": "ts",
            "label": "TypeScript SDK",
            "source": "import { Search1API } from '@search1api/client';\n\nconst client = new Search1API();\nconst response = await client.trending('github', {\n  maxResults: 10,\n});\n\nconsole.log(response);"
          },
          {
            "id": "python",
            "lang": "python",
            "label": "Python SDK",
            "source": "from search1api import Search1API\n\nclient = Search1API()\nresponse = client.trending(\"github\", max_results=10)\n\nprint(response)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-payment-info": {
          "protocols": [
            "mpp"
          ],
          "pricingMode": "fixed",
          "price": "0.003"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "search_service": {
                    "type": "string",
                    "minLength": 1
                  },
                  "max_results": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "required": [
                  "search_service"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/extract": {
      "post": {
        "operationId": "extract",
        "summary": "Extract structured content from a URL",
        "description": "Pull structured data out of a single webpage using a natural-language prompt and a JSON schema you supply. Use it when you need specific fields — prices, specifications, contact details — rather than the whole document; when you want the full text, use POST /crawl. Costs 10 credits per request.",
        "tags": [
          "Crawl"
        ],
        "x-codeSamples": [
          {
            "id": "js",
            "lang": "ts",
            "label": "TypeScript SDK",
            "source": "import { Search1API } from '@search1api/client';\n\nconst client = new Search1API();\nconst response = await client.extract('https://example.com', {\n  prompt: 'Extract the page title and description.',\n});\n\nconsole.log(response);"
          },
          {
            "id": "python",
            "lang": "python",
            "label": "Python SDK",
            "source": "from search1api import Search1API\n\nclient = Search1API()\nresponse = client.extract(\n    \"https://example.com\",\n    prompt=\"Extract the page title and description.\",\n)\n\nprint(response)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-payment-info": {
          "protocols": [
            "mpp"
          ],
          "pricingMode": "fixed",
          "price": "0.03"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "response_format": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                },
                "required": [
                  "url"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/deepcrawl": {
      "post": {
        "operationId": "deepcrawl",
        "summary": "Deep crawl a website across multiple pages",
        "description": "Start an asynchronous crawl of an entire site and package the pages as documents. Use it for whole-site ingestion; a single page is POST /crawl. The call returns a task id immediately rather than the result — poll GET /deepcrawl/status/{taskId} until the task reports completion. Costs 20 credits per request.",
        "tags": [
          "Crawl"
        ],
        "x-codeSamples": [
          {
            "id": "js",
            "lang": "ts",
            "label": "TypeScript SDK",
            "source": "import { Search1API } from '@search1api/client';\n\nconst client = new Search1API();\nconst task = await client.startDeepcrawl('https://example.com', {\n  type: 'all',\n});\n\nconsole.log(task.taskId);"
          },
          {
            "id": "python",
            "lang": "python",
            "label": "Python SDK",
            "source": "from search1api import Search1API\n\nclient = Search1API()\ntask = client.start_deepcrawl(\"https://example.com\", type=\"all\")\n\nprint(task[\"taskId\"])"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeepcrawlAcceptedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-payment-info": {
          "protocols": [
            "mpp"
          ],
          "pricingMode": "fixed",
          "price": "0.06"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "sitemap",
                      "all"
                    ]
                  }
                },
                "required": [
                  "url"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/deepcrawl/status/{taskId}": {
      "get": {
        "operationId": "deepcrawlStatus",
        "summary": "Check deepcrawl task status",
        "description": "Poll a deepcrawl task started by POST /deepcrawl. Returns the task's current state and, once it finishes, where to retrieve the packaged result. Safe to call repeatedly. Free to call.",
        "tags": [
          "Crawl"
        ],
        "x-codeSamples": [
          {
            "id": "js",
            "lang": "ts",
            "label": "TypeScript SDK",
            "source": "import { Search1API } from '@search1api/client';\n\nconst client = new Search1API();\nconst status = await client.getDeepcrawlStatus('task_id');\n\nconsole.log(status);"
          },
          {
            "id": "python",
            "lang": "python",
            "label": "Python SDK",
            "source": "from search1api import Search1API\n\nclient = Search1API()\nstatus = client.get_deepcrawl_status(\"task_id\")\n\nprint(status)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeepcrawlStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ]
      }
    },
    "/health": {
      "get": {
        "operationId": "health",
        "summary": "Health check",
        "description": "Report whether the API is serving traffic. Takes no credentials, so use it for uptime and readiness checks — it will not tell you whether an API key is valid; call GET /usage for that. Free to call.",
        "tags": [
          "System"
        ],
        "x-codeSamples": [
          {
            "id": "js",
            "lang": "ts",
            "label": "TypeScript SDK",
            "source": "import { Search1API } from '@search1api/client';\n\nconst client = new Search1API();\nconst health = await client.health();\n\nconsole.log(health);"
          },
          {
            "id": "python",
            "lang": "python",
            "label": "Python SDK",
            "source": "from search1api import Search1API\n\nclient = Search1API()\nhealth = client.health()\n\nprint(health)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/usage": {
      "get": {
        "operationId": "usage",
        "summary": "Get API key usage statistics",
        "description": "Return the remaining credit balance for the authenticated account. Use it to check headroom before starting an expensive job such as a deepcrawl, or to confirm an API key works. Free to call.",
        "tags": [
          "Account"
        ],
        "x-codeSamples": [
          {
            "id": "js",
            "lang": "ts",
            "label": "TypeScript SDK",
            "source": "import { Search1API } from '@search1api/client';\n\nconst client = new Search1API();\nconst usage = await client.usage('month');\n\nconsole.log(usage);"
          },
          {
            "id": "python",
            "lang": "python",
            "label": "Python SDK",
            "source": "from search1api import Search1API\n\nclient = Search1API()\nusage = client.usage(\"month\")\n\nprint(usage)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "period",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year"
              ]
            }
          }
        ]
      }
    }
  }
}
